# Product:      Pakai Server (formerly known as Web API Server)
# Version:      6.80
# License:      MIT License
# Developer:    Poon Yip Hoon (Aeric)
# Description:  B4J project template for building JSON and XML formats API backend
# Discussion:   https://www.b4x.com/android/forum/threads/web-project-template-pakai-server-v6.169224/
# Source Code:  https://github.com/pyhoon/pakai-server-b4j

# Thanks to Erel, Anywhere Software for the great products and B4X community for encouragement and supports.
# Please consider to donate to me so I can continue to improve this project
# My paypal link: https://paypal.me/aeric80

# Lines starting with '#' are comments.
# Lines starting with ';' are disabled.
# Backslash character at the end of line means that the command continues in the next line.

# App Constants
APP_TITLE=Pakai
APP_TRADEMARK=PAKAI
HOME_TITLE=PAKAI SERVER
APP_COPYRIGHT=Copyright MyCompany 2026

# Server Path
ROOT_URL=http://127.0.0.1
ROOT_PATH=

# Api Settings
#API_NAME=api

# Server port
PORT=8080
REDIRECT_TO_HTTPS=False

# SSL Settings
# Generate a keystore from Windows CMD
# C:\Java\jdk-19.0.2\bin\keytool -keystore keystore.jks -alias jetty -genkey -keyalg RSA
# Copy keystore file to Objects folder of the B4J project
SSL_PORT=8888
SSL_KEYSTORE_DIR=
SSL_KEYSTORE_FILE=keystore.jks
SSL_KEYSTORE_PASSWORD=xxxxxxxx
SSL_ENABLED=False

# Email Settings
ADMIN_EMAIL=xxxxxxxxx
SMTP_SERVER=xxxxxxxxx
SMTP_USERNAME=xxxxxxxxx
SMTP_PASSWORD=xxxxxxxxx
SMTP_PORT=465
SMTP_USESSL=True
HTML_BODY=True
